.dash h1 {
    margin: 5vh 3vw;
    font-size: 40px;
    font-weight: 400;
}

.tbl {
    text-align: center;
}


table {
    width: 94vw;
    margin-left: 3vw;
}

/* th , td {
    text-align: center;
    padding: 8px;
} */

th , td{
    padding: 8px;
}

.b{
    border: 4px solid #ddd;
    background-color: #143D59;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.c {
    border: 4px solid #ddd;
}


tr:nth-child(even){
    background-color: #f2f2f2;
}